.git
.github
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.backup
docker-compose*.yml
*.md
.editorconfig
.gitattributes
.gitignore
phpunit.xml
.phpunit.result.cache
.idea
.vscode
